@model IEnumerable<Jobseekr.Models.CompanyProfile>

@{
    ViewBag.Title = "All Company Profiles";
}
<!

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
</head>
<body>
    <div id="loading-area"></div>
    <!-- Start Header Area -->
    <header class="header other-page">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand logo" href="/Jobseekr/WelcomePage">
                                <img class="logo1" src="~/assets/images/logo/logo.jpg" alt="Logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Create", "Jobseekr")">Post Job</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("EmployerProfile", "Jobseekr")">My Profile</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ViewProfile", "Jobseekr")">My Companies</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AllCompanyProfiles", "Jobseekr")" class="active">All Companies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href=@Url.Action("ViewJobApplications", "Jobseekr")>Job Applications</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href=@Url.Action("ViewEmployeeReviews", "Jobseekr")>Employee Reviews</a>

                                    </li>

                                </ul>
                            </div>
                            <!-- navbar collapse -->
                            <div class="button">
                                <a href="@Url.Action("Logout", "Jobseekr")" data-toggle="modal" data-target="@Url.Action("Logout", "Jobseekr")" class="login">
                                    <i class="lni lni-exit"></i> Logout
                                </a>
                            </div>
                        </nav>
                      <!-- navbar -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- End Header Area -->
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">All Companies</h1>
                        <p>
                            Discover every companies that has posted on this platform.     
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="/Jobseekr/WelcomePage">Home</a></li>
                        <li>All Companies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Start All Company Profiles Section -->
    <section class="find-job section">
        <div class="container">
            <div class="single-head">
                <div class="row">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var profile in Model)
                        {
                            <div class="col-lg-6 col-12">

                                <div class="single-job">

                                    <div class="job-content">
                                        <h4>
                                            <a href="job-details.html">
                                                @profile.CompanyName
                                            </a>
                                        </h4>
                                        <p> @profile.Description</p>
                                        <ul>
                                            <li><i class="lni lni-calendar"></i><a href="#">@profile.Founded</a></li>
                                            <li><i class="lni lni-phone"></i>@profile.Contact</li>
                                            <li><i class="lni lni-map-marker"></i>  @profile.Location</li>
                                            <li><i class="lni lni-map-envelop"></i>  @profile.Website</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No company profiles found.</p>
                        <div class="job-button">
                            <ul>
                                <li>

                                    @Html.ActionLink("Create Profile", "CreateProfile", "Jobseekr", null, new { @class = "btn btn-primary" })
                                </li>
                            </ul>

                        </div>
                    }

                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <div class="pagination center">
                            <ul class="pagination-list">
                                <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ End Pagination -->
            </div>
        </div>
    </section>
    <!-- End All Company Profiles Section -->
</body>
</html>

