@model IEnumerable<Jobseekr.Models.Enquiry>

@{
    ViewBag.Title = "EmployeeInbox";
}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
</head>

<body>
    <div id="loading-area"></div>
    <!-- Start Header Area -->
    <header class="header other-page">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand logo" href="/Jobseekr/AvailableJobs">
                                <img class="logo1" src="~/assets/images/logo/logo.jpg" alt="Logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="@Url.Action("EmployeeProfile", "Jobseekr")">My Profile</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ViewCompanyProfiles", "Jobseekr")">Compnay Profiles</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Enquiry", "Jobseekr")">Enquiry</a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("EmployeeInbox", "Jobseekr")" class="active">Inbox </a>

                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ViewMyJobApplicationStatus", "Jobseekr")">Application Status</a>

                                    </li>
                                </ul>
                            </div>
                            <!-- navbar collapse -->
                            <div class="button">
                                <a href="@Url.Action("Logout", "Jobseekr")" data-toggle="modal" data-target="@Url.Action("Logout", "Jobseekr")" class="login">
                                    <i class="lni lni-exit"></i> Logout
                                </a>
                            </div>
                        </nav>
                      <!-- navbar -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- End Header Area -->
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Inbox</h1>
                        <p>
                            Stay connected and informed with our Inbox. <br />Our business plan integrates diverse knowledge from various business disciplines, ensuring you receive a broad spectrum of valuable information.
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="/Jobseekr/AvailableJobs">Home</a></li>
                        <li>Inbox</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Start Employee Inbox Section -->
    <div class="manage-applications section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">

                    <!-- Start Main Content -->
                    <div class="col-lg-4 col-12">
                        <div class="dashbord-sidebar">
                            <ul>
                                <li class="heading">Inbox</li>

                                <li>
                                    <a class="active" href="/jobseekr/EmployeeInbox">
                                        <i class="lni lni-envelope"></i>
                                        Chat Box
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- End Main Content -->

                    <div class="col-lg-8 col-12">
                        <div class="job-items">
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="title-img">
                                            <h3>Email</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <h3>Subject</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <h3>Message</h3>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <h3>Reply</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="job-items">
                                <div class="manage-content">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-5 col-md-5">
                                            <div class="title-img">
                                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                                <h3><span>@Html.DisplayFor(model => item.Email)</span></h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <p>@Html.DisplayFor(model => item.Subject)</p>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <p>@Html.DisplayFor(model => item.Message)</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <p>@Html.DisplayFor(model => item.Reply)</p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        }
                        <!-- Pagination -->
                        <div class="pagination left pagination-md-center">
                            <ul class="pagination-list">
                                <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Employee Inbox Section -->
</body>
</html>