@model Jobseekr.Models.EmployerRegistration

@{
    ViewBag.Title = "Employer Registration";
}

<h2>Employer Registration</h2>

@using (Html.BeginForm("EmployerRegistration", "Jobseekr", new { area = "" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailId)
        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmailId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MobileNumber)
        @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MobileNumber)
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}
