@model List<Jobseekr.Models.JobApplication>

<h2>Your Job Applications</h2>

<table class="table">
    <tr>
        <th>Job ID</th>
        <th>Job Title</th>
        <th>Applicant Name</th>
        <th>Applicant Email</th>
        <th>Resume</th>
        <th>Status</th>
    </tr>
    @foreach (var application in Model)
    {
        <tr>
            <td>@application.JobId</td>
            <td>@application.JobListing.JobTitle</td>
            <td>@application.ApplicantName</td>
            <td>@application.ApplicantEmail</td>
            <td>@application.Resume</td>
            <td>@application.ResponseStatus</td>
        </tr>
    }
</table>
