@model IEnumerable<Jobseekr.Models.JobListing>

<!-- Display a Bootstrap alert when employer who didn't posted the job tries to edit -->
@if (TempData["NotAuthorizedEdit"] != null && (bool)TempData["NotAuthorizedEdit"])
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            You are not authorized to edit this job.
        </div>
    </div>
}

<!-- Display a Bootstrap alert when employer who didn't posted the job tries to delete -->
@if (TempData["NotAuthorizedDelete"] != null && (bool)TempData["NotAuthorizedDelete"])
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            You are not authorized to delete this job.
        </div>
    </div>
}

@{
    ViewBag.Title = "LatestJobs";
}

<h2>LatestJobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("My Profile", "EmployerProfile", "Jobseekr", new { /* optional route values */ }, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("My Companies", "ViewProfile", "Jobseekr", new { /* optional route values */ }, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("All Companies", "AllCompanyProfiles", "Jobseekr", new { /* optional route values */ }, new { @class = "btn btn-success" })
</p>
<p>
    <a href="@Url.Action("ViewJobApplications", "Jobseekr")">View Job Applications</a>

</p>

<p>
    @Html.ActionLink("View Employee Reviews", "ViewEmployeeReviews", "Jobseekr", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Logout", "Logout", "Jobseekr", null, new { @class = "btn btn-danger" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.JobTitle
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.Salary.ToString("N0")
            </td>
            <td>
                @item.PostedDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
            </td>
        </tr>
    }

</table>
